* {
    padding: 0;
    margin: 0;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    /* color: #FFF; */
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
    background: url('../PNGandSVG/backgroundPixel.svg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
	z-index: 1;
	/* font-family: 'Press Start 2P'; */
}

header {
    background-image: url("../PNGandSVG/Pok-team-2023-12-07.png");
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    margin: 0;
    padding: 0;
    background-position: center;
	z-index: 1;
	position: relative;
	
}

.header2 {
    background-image: url("../PNGandSVG/MyPokemons.png");
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    margin: 0;
    padding: 0;
    background-position: center;
    display: none;
	position: relative;
	z-index: 1;
}
.header3 {
    background-image: url("../PNGandSVG/Search-2023-12-08.png");
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    margin: 0;
    padding: 0;
    background-position: center;
    display: none;
	position: relative;
	z-index: 1;
}


.myPokemon, .findPokemon, .findPokemonBack, .myPokemonBack {
	color: white;
    border: 2px solid #000;
    background: #F00;
    width: 200px;
    height: 80px;
    margin: 10px;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	z-index: 1;
	position: relative;
	box-shadow: 13px 12px 37px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 13px 12px 37px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 13px 12px 37px 0px rgba(0,0,0,0.75);
	font-family: 'Press Start 2P';
	font-size: 0.6em;
	text-shadow: 2px 2px 0px rgba(143,143,143,0.6);
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
	z-index: 1;
	position: relative;
	/* margin-bottom: 200px; */
}

footer {
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
	/* margin-top: 500px; */
    padding: 0;
    background-position: center;
    display: flex;
    flex-direction: column;
	position: relative;
}

button:active {
    border: 2px solid #000;
}
button:hover {
    background: #238e00; 
}
.hidden {
    display: none;
}

/* .pokemonFromApi {
    visibility: hidden;
} */

/* 
ul {
    display: block;
    color: #000000;
} */
.visible {
    visibility: visible !important;
}

p {
	color: rgb(255, 255, 255);
	font-size: 0.5em;
	font-family: 'Press Start 2P';
	margin-top: -50px;
}


/*My Pokemons*/
.displayPokemon {
	height: 75px;	
	width: 90vw;
	background-color: #FFDE00;
	margin-bottom: 4px;
	/* margin-top: -80px; */
	position: relative;
	bottom: 200px;
	display: none;
	max-width: 420px;
	text-align: center;
	z-index: 2;
	font-family: 'Press Start 2P';
	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	box-shadow: 13px 12px 37px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 13px 12px 37px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 13px 12px 37px 0px rgba(0,0,0,0.75);
	
	
}
.PokemonList, .pokemonBox {
	display: grid;
    place-items: center;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
	/* margin-bottom: -120px; */

}

.findPokemonBack {
	color: white;
    border: 2px solid #000;
    background: #F00;
    width: 150px;
    height: 50px;
    margin: 10px;
	margin-top: 50px;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	z-index: 1;
	position: relative;
	box-shadow: 13px 12px 37px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 13px 12px 37px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 13px 12px 37px 0px rgba(0,0,0,0.75);
	font-family: 'Press Start 2P';
	font-size: 0.6em;
	display: none;
}
.myPokemonBack {
	color: white;
    border: 2px solid #000;
    background: #F00;
    width: 150px;
    height: 50px;	
    margin: 10px;
	margin-top: 50px;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	z-index: 1;
	position: relative;
	box-shadow: 13px 12px 37px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 13px 12px 37px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 13px 12px 37px 0px rgba(0,0,0,0.75);
	font-family: 'Press Start 2P';
	font-size: 0.6em;
	display: none;
}

input {
	/* display: none; */
	width: 250px;
	text-align: center;
	/* margin: 0 auto; */
	font-family: 'Press Start 2P';
	font-size: 0.7em;
	
}
 .saveNickname {
	width: 250px;
 } 

   
.searchBox {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .searchBox input {
	border-radius: 8px 0 0 8px;
	border: 0;
	outline: none;
	height: 36px;
	padding: 4px 16px;	
	/* background-color: rgb(164, 164, 164); */	
	color: #000;
	
  }	
  
  .searchBox button {
	border-radius: 0 8px 8px 0;
	border: 0;
	height: 44px;
	padding: 4px 16px;
	background-color: rgb(208, 208, 208);
  }
  
  .pokemonBox, .PokemonList, .reserveBox {
	display: flex;	
	flex-direction: column;
	margin-top: 2rem;
	justify-content: center;
	font-family: 'Press Start 2P';
  }
  
  .pokemonBox img, .PokemonList img, .reserveBox img {	
	width: 100px;
  }
  
  .pokemonBox, .PokemonList p, .reserveBox {
	margin-top: 1rem;
	font-family: 'Press Start 2P';
	font-size: 0.5em;
  }
  
  .pokemonBox, .PokemonList, .reserveBox {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  h1 {
	font-family: 'Press Start 2P';
	margin-top: 10px;
	margin-bottom: 10px;
  }

  #search {
	display: none;
  }
  #pokemonName {
	display: none;
  }

  .pokemonImage {
	display: flex;
	width: 60px;
	height: 89px;
	justify-content: center;
	align-items: center;
  }

  input#pokemonName {
	background-color: rgb(208, 208, 208);
}

/* .PokemonList > img {
	height: 70px;
	width: 60px;
	margin-right: 265px;
} */
.PokemonList > p {
	font-size: 1em;
	color: black;
}

.pokemonInfos {
	
}

.reservePokemonList {
	background-color: orange;
}


.PokemonList.top {
	/* Your styles for the first three items go here */
	background-color: #FFDE00;

  }
  
  /* Style for the rest of the items */
  .PokemonList:not(.top) {
	/* Your styles for the rest of the items go here */
	/* background-color: #ffffff;	 */
	scale: 0.7;
	margin: -10px;
	padding:0;
  }
 
  .teamInfo {
	display: none;
	justify-content: center;
	background-color: rgb(215, 215, 0);
	color: black;
	margin-top: 10px;
	padding: 10px;
  }

  .reserveBox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
	border: 2px solid black;
	padding: 6px;

  }
  main {
	flex: 1;
  }
  .pokemonResult {
	display: flex;
	justify-content: center;
	margin: 10px;
	border: 2px solid black;
	width: 350px;
  }
  
  .kickPokemon {
	font-family: 'Press Start 2P';
  }